$orange: #c76565;
$font-color: #f7ede0;

@mixin flex($j-content) {
  display: flex;
  justify-content: $j-content;
  align-items: center;
}
body {
  background: linear-gradient(90deg, #ffffff 80%, $orange 60%);
  .sectionContainer {
    padding: 8em 0 10rem 8rem;
    width: 100%;
    height: auto;

    .e4334-grid {
      height: auto;
      display: grid;
      grid-template-columns: 60% 40%;

      .sectionI {
        background: #ffffff;
        display: grid;
        grid-template-rows: 25% 75%;

        .h2Head {
          padding: .4rem 1.6rem;

          h2 {
            color: #221e1f;
            font-size: 3rem;
            font-weight: 900;
          }

          p {
            margin: 9px 2px;
            font-size: 17px;
          }
        }

        .content {
          input {
            height: 3.4rem;
            display: block;
            width: 47vw;
            margin: 45px 24px;
            outline: none;
            border: none;
            border-bottom: 3px solid $orange;
            font-size: 17px;
          }

          textarea {
            height: 8rem;
            display: block;
            width: 47vw;
            margin: 30px 24px;
            outline: none;
            border: none;
            border-bottom: 3px solid $orange;
            font-size: 17px;
            resize: none;
          }

          button {
            padding: 15px 6px;
            width: 9vw;
            margin: 0 24px;
            font-size: 17px;
            font-weight: 600;
            background: #c76565;
            color: white;
            outline: none;
            border: none;
            border-radius: 9px;

            &:hover {
              background: #2922229e;
            }
          }
        }
      }

      .sectionII {
        background: #000000;

        .contactDetails {
          padding: 1px 1px;
          display: grid;
          place-items: center;
          height: 100%;

          .items {
            padding: 1px;
            display: grid;
            place-items: center;

            i {
              font-size: 4.5rem;
              padding: 12px 0;
              color: $orange;
            }

            p {
              font-size: 1.3rem;
              color: #ffffff;
              display: grid;
              place-items: center;

              a {
                text-decoration: none;
                color: #ffffff;
                display: block;
              }
            }
          }
        }
      }
    }
  }
  @media only screen and (max-width: 1220px) {
    .sectionContainer{
      padding : 7rem 4rem 7rem 4rem;
      .e4334-grid{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .sectionI{
          display: flex;
          padding : 2rem;
          .h2Head{
            padding : 0 0;
            h2{
              font-size: 2.5rem;
            }
          }
          .content{
            padding-bottom: 2rem;
            input{
              width: 38vw;
            }
            textarea{
              width: 38vw;
            }
            button{
              width: 14vw;
            }

          }
        }
        .sectionII{
          width: 100%;
          .contactDetails{
            padding: 2rem 1rem;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            .items{
              i{
                font-size: 3.5rem;
              }
              p{
                font-size: 1.1rem;
              }
            }
          }
        }
      }
    }
  }
  @media only screen and (max-width: 768px){
    .sectionContainer{
      padding: 7rem 4rem 7rem 0;
      .e4334-grid{
        .sectionI{
          flex-direction: column;
          .h2Head{
            padding: 0 1rem;
            p{
              display: none;
            }
          }
        }
        .sectionII{
          display: none;
        }
      }
    }
  }

}



